<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

In [8]:
singer = "Michael Jackson"

In [10]:
type(singer)

str

In [12]:
print(singer)
print(singer[2])
print(singer[5])
print(singer[10])
print(singer[14])
print(singer[-1])

Michael Jackson
c
e
c
n
n

# Print the first and last String

In [34]:
print(singer[0])
print(singer[1])
print(singer[-2])
print(singer[-1])

M
i
o
n

# Index Slicing

print(singer[Index to start:index to stop])

In [28]:
print(singer[0:7])

Michael

In [36]:
print(singer[:7])

Michael

**printing JACKSON**

In [53]:
print(singer[8:15])
print(singer[8:])
print(singer[-7:])
print(singer[-7:15])

Jackson
Jackson
Jackson
Jackson

In [61]:
print(singer[:7:2]) #skip index by 2

Mcal

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [63]:
print(singer[:15:2]) #skip index by 3

McalJcsn

## concartinate string

In [72]:
#Combining 2 or more String
str1 = 'Big'
str2 = 'Data'

str3 = str1 +" "+ str2

print(str3)

Big Data

In [74]:
str4 = str2+str1
print(str4)

DataBig

In [84]:
int1 = " 52"

In [86]:
print(str3 + int1)

Big Data 52

In [92]:
int2 = int(int1)

In [94]:
int3 = float(int2)

In [96]:
int3

52.0

In [98]:
print(str3 + int3)

TypeError: can only concatenate str (not "float") to str

In [100]:
str5 = str(int3)

In [102]:
str5

'52.0'

In [104]:
int5 = int(str3)

ValueError: invalid literal for int() with base 10: 'Big Data'

**Pyhtom Data Structure**

* List []
* Tuple ()
* Set {}
* Dictionary {}

In [122]:
L1 = [8.8, "dATA sCIENCE", 2024, 99, -20]
T1 = (8.8, "Data Science", 2024, 99, -20)
s1 = {8.8, "Data Science", 2024, 99, -20}

print(L1)
print(T1)
print(s1)

[8.8, 'dATA sCIENCE', 2024, 99, -20]
(8.8, 'Data Science', 2024, 99, -20)
{99, 8.8, 'Data Science', 2024, -20}

**List**

In [124]:
#index

print(L1[2])
print(L1[2:])

2024
[2024, 99, -20]

In [145]:
# extend & append
L1 = [8.8, "dATA sCIENCE", 2024, 99, -20]
L1.extend([55, "AI"])  #add item at end of list



L1

print(L1)

L1 = [8.8, "dATA sCIENCE", 2024, 99, -20]

L1.append(['ML',999])

L1

[8.8, 'dATA sCIENCE', 2024, 99, -20, 55, 'AI']

[8.8, 'dATA sCIENCE', 2024, 99, -20, ['ML', 999]]

**nested list**

In [150]:
print(L1[-1][-1])

999

In [152]:
print(L1[-1])

['ML', 999]

In [180]:
L2 = [8.8,'data science',2024,99,-20, 55,'AI', ['ML',999,['A','B','C']]]

#print letter B and C

print(L2[-1][-1][-2:])

['B', 'C']

In [3]:
t5 = ('AI', 'Data', 2024, 'ML')
list_new_items = [888, 'Python', 'DL']

#Create a new tuple of the above tuple and list

new_tuple = t5.extend(list_new_items)
new_tuple

AttributeError: 'tuple' object has no attribute 'extend'

In [5]:
s1={8.8, 'Data Science', 99,2.2, 'Python'}

In [7]:
type(s1)

set

In [9]:
print(s1)

{2.2, 99, 'Python', 'Data Science', 8.8}