In [39]:
s1={8.8, 'Data Science', 99,2.2, 'Python'}

In [5]:
s2={20, -10, 0, 5, 99, -10, 20, 2.2, 88}

In [7]:
print(s2)

{0, 2.2, 99, 20, 5, -10, 88}

In [9]:
s2

{-10, 0, 2.2, 5, 20, 88, 99}

In [15]:
s3 = {'Data', 'ai', 'ML', 'python', 'Big data'}

In [17]:
s3

{'Big data', 'Data', 'ML', 'ai', 'python'}

In [19]:
s4={'data', 'ai', 'ml', 'python', 'big data'}

In [21]:
s4

{'ai', 'big data', 'data', 'ml', 'python'}

In [27]:
s5={'Data', 'ai', 'ml', 'Python', 'Big data'}

In [29]:
s5

{'Big data', 'Data', 'Python', 'ai', 'ml'}

In [31]:
#add 

s5.add('deep learning')
s5

{'Big data', 'Data', 'Python', 'ai', 'deep learning', 'ml'}

In [33]:
s2.add(10)
s2

{-10, 0, 2.2, 5, 10, 20, 88, 99}

In [35]:
#Remove
s2.remove(88)
s2

{-10, 0, 2.2, 5, 10, 20, 99}

In [47]:
#intersection

set_a= {1,3,5,7,8,9,10,11,12,13,14}   #actual results
set_b= {1,2,3,4,5,6,7,8,9,10,11}      #predicted results

set_a.intersection(set_b)

{1, 3, 5, 7, 8, 9, 10, 11}

In [51]:
#union

set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [53]:
list_a=[1,2,3,4,1,2,5]

set_list_a =set(list_a)
set_list_a

{1, 2, 3, 4, 5}

In [59]:
#Write a code to find the highest value in a list of number by using set only

list_b = [100,-99,101,88,55.6,0]

set_list_b = set(list_b)
set_list_b

{-99, 0, 55.6, 88, 100, 101}

In [91]:
highest_value = next(iter(set_b))

In [93]:
for num in set_b:
    if num > highest_value:
        highest_value = num

In [95]:
num

11

In [97]:
list_set_list_b=set_list_b

In [99]:
print (max(set_list_b))

101

In [101]:
#difference

set_a.difference(set_b)

{12, 13, 14}

In [103]:
set_b.difference(set_a)

{2, 4, 6}

# Dictionary

* Each item has a key and a value
* Key : value
* Dictionary {key1:value1, key2:value2, ...... keyn:valuen}
*

In [113]:
d1 = {'AI':99, 8.8:['ML','DL'], (1,2,3):['bIG dATA']}
d1

{'AI': 99, 8.8: ['ML', 'DL'], (1, 2, 3): ['bIG dATA']}

In [115]:
type(d1)

dict

In [117]:
d1['AI']

99

In [125]:
d1[1,2,3]

['bIG dATA']

In [133]:
d1.keys()

dict_keys(['AI', 8.8, (1, 2, 3)])

In [137]:
d1.values()

dict_values([99, ['ML', 'DL'], ['bIG dATA']])

In [139]:
d1['AI'] = 10
d1

{'AI': 10, 8.8: ['ML', 'DL'], (1, 2, 3): ['bIG dATA']}

In [143]:
d1.pop((1,2,3))
d1

{'AI': 10, 8.8: ['ML', 'DL']}

In [5]:
d2={(1,2):99, (100,200):['obay']}
d2

{(1, 2): 99, (100, 200): ['obay']}

In [151]:
d3={(1,2):99, (100,200):{'obay'}}

## if statement if else statement

In [156]:
country='Malaysia'
if country == 'Singapore':
    print( 'Country is Singapore')

In [158]:
country='Malaysia'
if country == 'Singapore':
    print( 'Country is Singapore')

else:
    print('Country is Malaysia')

Country is Malaysia

In [178]:
country='Malaysia'
if country == 'Singapore':
    print( 'Country is Singapore')
    
elif country == 'Thailand':
    print('Country is Thailand')
else:
    print('Country is Malaysia')

Country is Malaysia

In [180]:
country='Malaysia'
if country == 'Singapore':
    print( 'Country is Singapore')
    
elif country == 'Thailand':
    print('Country is Thailand')

elif country != "Singapore":
    print('Country is Unknown')
else:
    print('Country is Malaysia')

Country is Unknown

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsTable.png" width="650" />

In [187]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020:
    print('country is malaysia and year is 2024')

In [189]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' or year == 2020:
    print('country is malaysia and year is 2024')

country is malaysia and year is 2024

In [191]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2024:
    print('country is malaysia and year is 2024')

country is malaysia and year is 2024

In [197]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' and year != 2020:
    print('country is malaysia and year is 2024')

country is malaysia and year is 2024

In [199]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' and year >= 2020:
    print('country is malaysia and year is 2024')

country is malaysia and year is 2024

In [193]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020:
    print('country is malaysia and year is 2024')

else:
    print('country is not Malaysia or year is not 2024')

country is not Malaysia or year is not 2024

In [203]:
country1 = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020:
    print('country is malaysia and year is 2024')
elif country == 'Malaysia' and year > 2020:
    print( 'Country is Malaysia and year is earliar than 2020')
else:
    print('country is not Malaysia or year is not 2024')

Country is Malaysia and year is earliar than 2020

# Write a code for finding the odd and even numbers

In [214]:
number = 40
evenodd = number%2
if evenodd == 0:
    print ('The number' , number , 'is even')

else :
    print ('The number is odd')

The number 40 is even

In [220]:
input_num = input('Enter the number')

input_num=int(input_num)
if input_num%2 == 0:
    print ('The number' , number , 'is even')

else :
    print ('The number', input_num,'is odd')

Enter the number 15

The number 15 is odd

In [270]:
# nested if elif and else

price=1000
car = 'Proton'

if price > 500:
    if price == 700:
        print('The price is more than 700')
    else:
        if price == 100 or car=='Proton':
            print('Car is proton')
        else:
            print('prive and car are unknown')

Car is proton

#### Loop and while loop

In [277]:
list_num = [100,200,300,400,500]

print(list_num[0])
print(list_num[1])
print(list_num[2])
print(list_num[3])
print(list_num[4])

100
200
300
400
500

#### for loop

In [280]:
list_num

[100, 200, 300, 400, 500]

In [286]:
for i in list_num:
    print(i)

100
200
300
400
500

In [290]:
for num in range(1, 10):
    print(num)

1
2
3
4
5
6
7
8
9

In [322]:
numbers = [1,2,3,4,5,6]

#write a code to print all numbers below 5
for i in numbers:
    print(i)
    if i == 4:
        break

1
2
3
4

In [335]:
numbers = [1,2,3,4,5,6]

#write a code to print all numbers below 5
for i in numbers:
    if i < 5:
        print(i)

1
2
3
4

In [337]:
numbers = [1,2,3,4,5,6]

#write a code to print all numbers below 5
for i in numbers:
    for i in range(1,5):
        print(i)

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

In [347]:
d1

{'AI': 10, 8.8: ['ML', 'DL']}

In [349]:
for i in d1:
    print(i)

AI
8.8

#### while loop

In [362]:
numbers = [1,2,3,4,5,6]

#write a code to print all numbers below 5

i = 0
num = None

while (num != 4):
    num = numbers[i] 
    i = i + 1
    print(num)

1
2
3
4

In [364]:
#write a code to print all numbers below 5
i = 0
num = None

while (num != 3):
    num = numbers[i] 
    i = i + 1
    print(num)

1
2
3

#### nested loop

In [383]:
names = ['Muhammad','Noor','Chyrel']

for a in names:
    print(a)
    for b in (a):
        print(b)

    print('-------------')

Muhammad
M
u
h
a
m
m
a
d
-------------
Noor
N
o
o
r
-------------
Chyrel
C
h
y
r
e
l
-------------

In [394]:
#write the code to print only the even numbers in range of numbers 20

for a in range(21):
    if a%2 == 0:
    
        print(a)

0
2
4
6
8
10
12
14
16
18
20

In [404]:

even=[]
for a in range(21):
    if a%2 == 0:
        even.append(a)
        print(even)
print(even)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [406]:

even=[]
for a in range(21):
    if a%2 == 0:
        even.append(a)
        
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Given the list of numbers, write the code to calculate the sum of even numbers in the list

In [421]:
total=0
for i in even:
    
    total = total + i
    print(total)

print('Total of list are',total)

0
2
6
12
20
30
42
56
72
90
110
Total of list are 110

In [102]:
List_num = range(10)

sum_even = 0

for i in List_num: 
    if i%2 == 0:
        print(i)
        sum_even = sum_even +i
        print(sum_even)
        print('----------------')

print('The sum of even number is', sum_even)

0
0
----------------
2
2
----------------
4
6
----------------
6
12
----------------
8
20
----------------
The sum of even number is 20

Given a string, write a code to calculate the number of vowels (a,e,i,o,u) in the string.

In [444]:
word='Hello World'
sum_vow=0
for i in word:
    if i == 'a' or i == 'A' or i == 'E' or i == 'e' or i == 'i' or i == 'I' or i == 'o' or i == 'O' or i == 'u' or i == 'U':
        sum_vow=sum_vow + 1 
print(sum_vow)

11

In [456]:
string='Hello World'
sum_vow=0
for vow in string.lower():
    if vow in 'a,e,i,o,u':
        sum_vow += 1 
print('The number of vowels are:',sum_vow)

The number of vowels are: 3

In [462]:
string='Artificial Intelligence'
sum_vow=0
for vow in string.lower():
    if vow in 'a,e,i,o,u':
        sum_vow += 1 
print('The number of vowels are:',sum_vow)

The number of vowels are: 10

*Function*

To define a function in Python, use the "def" keyword, followed by the function name, parentheses, and a colon. The body of the function is indented and contains the code to be executed when the function is called.

def funname(arguments):

In [464]:
def first_fun():
    '''
    This is my First funtion
    '''
    print('This is my first function')

In [468]:
first_fun()

This is my first function

In [470]:
def sum_num(a,b):
    '''this funtion is about adding two num'''
    c = a + b
    print(c)

In [472]:
sum_num(5,7)

12

In [478]:
sum_num('Big', ' Data')

Big Data

In [480]:
def multiply_num(a,b,c):
    d = a*b*c
    return (d)

In [482]:
multiply_num(10,2,3)

60

**print vs return**

To summarize, "print" is used to output values to the console for debugging or informational purposes, while "return" is used to send a value back from a function to the calling code. If you want to use the result of a function in other parts of your code, you need to use "return" to make that value available outside the function.



**print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions.**

In [488]:
def numType_check(num):
    if num%2 == 0:
        return ('The number is even number')

    else:
        return ('The number is odd number')

In [503]:
import random
value= random.randint(0,100)
print('random number is:',value)
result=numType_check(value)
print(result)

random number is: 24
The number is even number

In [508]:
input_num = input('Enter the number')

input_num=int(input_num)
print('The number is:',input_num)
result=numType_check(input_num)
print(result)

Enter the number 45

The number is: 45
The number is odd number

**Write a funtion to find the highest value in a list of numbers without using other function**

In [551]:
import random
num_list = []
print(num_list)
i = 0
for i in range(21):
    num_list.append(random.randint(0,1000))
        

    

print(num_list)

[]
[39, 927, 445, 70, 540, 672, 226, 211, 883, 178, 867, 212, 535, 319, 125, 926, 294, 996, 157, 671, 369]

In [569]:
def find_highest(high,num):
    if num >= high:
        high=num
        return high
    else:
        return high

In [591]:
def find_lowest(low,num):
    if num <= low:
        low=num
        return low
    else:
        return low

In [619]:
import random
num_list = []


for i in range(21):
    num_list.append(random.randint(0,1000))
    
high=num_list[0]
low=num_list[0]
print(num_list)
print(low)
print(high)
for num in num_list:
    high=find_highest(high,num)
    
for num in num_list:
    low=find_lowest(low,num)

print('The highest number in the list is:',high)
print('The lowest number in the list is:',low)

[568, 93, 179, 822, 606, 300, 82, 136, 974, 184, 128, 807, 936, 809, 367, 565, 30, 339, 330, 603, 365]
568
568
The highest number in the list is: 974
The lowest number in the list is: 30

**Write a funtion to sum the even numbers in a list of numbers**

In [ ]:
def sum_even(num)

**Find the missing number in the list below**

In [11]:
def miss_num (list_num):
    List_num = range(1,list_num[-1]+1)
    all_Num=[]
    for num in List_num:
        all_Num.append(num)

    print('All number:',all_Num)
    set_list=set(list_num)
    set_all_Num=set(all_Num)
    set_miss=set_all_Num.difference(set_list)
    list_miss=list(set_miss)
    
    return(list_miss)

In [13]:
import random
num_list=[]


for i in range(20):
   # generating a random number in the range 1 to 20
   r=random.randint(1,15)
   # checking whether the generated random number is not in the
   # randomList
   if r not in num_list:
       num_list.append(r)
       length=len(num_list)
       if length==10:
           break
      # appending the random number to the resultant list, if the condition is true
      

print('Generated number:',num_list)
num_list.sort()
print('Rearranged number:',num_list)
print('The missing number/s are:',miss_num(num_list))

Generated number: [7, 5, 2, 15, 6, 3, 8, 4, 14, 13]
Rearranged number: [2, 3, 4, 5, 6, 7, 8, 13, 14, 15]
All number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
The missing number/s are: [1, 9, 10, 11, 12]

In [287]:
num_list=[1,4,3,2,5,8,7]


print('Generated number:',num_list)
num_list.sort()
print('Rearranged number:',num_list)
print('The missing number/s are:',miss_num(num_list))

Generated number: [1, 4, 3, 2, 5, 8, 7]
Rearranged number: [1, 2, 3, 4, 5, 7, 8]
All number: [1, 2, 3, 4, 5, 6, 7, 8]
The missing number/s are: [6]

In [309]:
num_list=[1,4,3,2,5,8,7]
num_list.sort()

for num in range(1,num_list[-1]):
    if num not in num_list:
        print('the missing number is:',num)

the missing number is: 6